@font-face {
	font-family: "icomoon";
	src: url("../fonts/icomoon.ttf");
}

/* Header container styles */
.app_header {
	-fx-padding: 20 20 8 20;
}

/* Header config button */
.app_header .btn_config {
	-fx-background-color: transparent;
	-fx-cursor: hand;
	-fx-padding: 8 9;
	-fx-focus-color: transparent;
}

.app_header .btn_config .icon-label {
	-fx-font-size: 17;
	-fx-text-fill: #c3c3c3;
}

/* Tab header styles */
.app_tabs .tab-header-background,
.app_tabs .headers-region {
	-fx-effect: null;
	-fx-border-width: 0;
}

.app_tabs .control-buttons-tab {
	-fx-border-width: 0;
}

/* Tabs styles */
.app_tabs .tab {
	-fx-background-color: transparent;
	-fx-border-width: 0;
	-fx-border-style: solid outside;
	-fx-padding: 5 8 5 8;
	-fx-cursor: hand;
}

.app_tabs .tab .focus-indicator {
	-fx-border-width: 0;
}

.app_tabs .tab:selected .focus-indicator {
	-fx-border-insets: -6, -9 -6 -8;
	-fx-border-width: 0 0 2 0;
	-fx-border-style: solid outside;
}

/* Icons styles */
.icomoon-button .icon-label {
	-fx-font-family: "icomoon";
	-fx-text-alignment: center;
	-fx-alignment: center;
	-fx-content-display: center;
}

/* Header content style */
.header_content {
	-fx-padding: 10 15 10 15;
}

.header_content .content_box {
	-fx-alignment: center;
}

.header_content .title_content {
	-fx-font-size: 16;
	-fx-content-display: top;
}

/* Header content button */
.header_content .button_content {
	-fx-padding: 8 9;
	-fx-border-width: 0;
	-fx-border-color: none;
	-fx-background-color: transparent;
	-fx-background-radius: 20;
	-fx-cursor: hand;
}

.header_content .button_content .icon-label {
	-fx-font-size: 16;
}

/* Scroll bars styles */
.scroll-pane .corner {
	-fx-padding: 0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
	-fx-shape: " ";
	-fx-padding: 0;
	-fx-border-width: 0;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
	-fx-padding: 0;
	-fx-border-width: 0;
}

.scroll-bar:vertical .thumb {
	-fx-background-insets: 0 4;
	-fx-background-radius: 3;
}

.scroll-bar:horizontal .thumb {
	-fx-background-insets: 4 0;
	-fx-background-radius: 3;
}
