.root {
	primary-color: #242424;
	primary-color-light: #4a4a4a;
	highlight-color: #00b2ff;
	text-color-light: #ffffff;

	scroll-color-thumb: rgba(255, 255, 255, 0.1);
	scroll-color-thumb-hover: rgba(255, 255, 255, 0.3);
	/* styles */
	-fx-background-color: primary-color-light;
}

/* Header container styles */
.app_header {
	-fx-background-color: primary-color;
}

/* Tab header styles */
.app_tabs .tab-header-background,
.app_tabs .headers-region {
	-fx-background-color: #242424;
}

/* Config header button */
.app_header .btn_config .icon-label {
	-fx-text-fill: #787878;
}

.app_header .btn_config:hover .icon-label,
.app_header .btn_config:focused .icon-label {
	-fx-text-fill: #ffffff;
}

/* Tabs styles */
.app_tabs .tab .tab-label {
	-fx-text-fill: #ffffff;
}

.app_tabs .tab:hover {
	-fx-background-color: rgba(255, 255, 255, 0.1);
}

.app_tabs .tab:selected .focus-indicator {
	-fx-border-color: highlight-color;
}

/* Container styles */
.section_background,
.section_background > .viewport,
.section_background > .corner {
	-fx-background-color: primary-color-light;
}

/* Header content style */
.header_content .title_content {
	-fx-text-fill: text-color-light;
}

/* Header content button */
.header_content .button_content .icon-label {
	-fx-text-fill: text-color-light;
}

.header_content .button_content:hover {
	-fx-background-color: scroll-color-thumb;
}

.header_content .button_content:pressed {
	-fx-background-color: scroll-color-thumb-hover;
}

/* Scroll bars styles */
.scroll-bar .increment-button,
.scroll-bar .decrement-button,
.scroll-bar .track {
	-fx-background-color: primary-color-light;
}

.scroll-bar .thumb {
	-fx-background-color: scroll-color-thumb;
}

.scroll-bar .thumb:hover,
.scroll-bar .thumb:pressed {
	-fx-background-color: scroll-color-thumb-hover;
}
